body {background-color:black;}
h1{	
	color:grey;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.maindiv{
    background-color: white;
    color: black;
    width: 400px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

#inner2 {
    padding: 0px 20px;
}

label { display: inline-block; width: 120px; }
